<div class="ui two column middle aligned relaxed fitted stackable grid">
  <div class="column">
    <div class="ui form segment">
      <div class="field">
        <label>{{sctp_host_label}}</label>
        <input type="text" placeholder="localhost" name="sctp_host" value="{{sctp_host_value}}"></input>
      </div>
      <div class="field">
        <label>{{sctp_port_label}}</label>
        <input type="text" placeholder="55770" name="sctp_port" value="{{sctp_port_value}}"></input>
      </div>
    </div>
  </div>
</div>
